<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .Port }}</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			text-align: center;
			padding: 50px;
		}

		h1 {
			color: #333;
		}
	</style>

	<!-- <script defer src="https://unpkg.com/htmx.org@1.9.10"
		integrity="sha384-vJo+Gau9CjQ/ZuNDE6Dkz5peft7hQl6eO7v0N5LkL+HoDs1aV92AN1DqBTOOBBww"
		crossorigin="anonymous"></script> -->

	<!-- <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script> -->
</head>

<body>
	<h1>Hello from server: {{ .Port }} 🤖🤖🤖</h1>
</body>

</html>